.my_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.non-visible {
    display: none;
}
.loader {
    height: 15px;
}
.error {
    color: red;
}
.referals {
    text-align: center;
    margin-left: 20px;
}
.ref_table {
    margin-top: 10%;
    width: 80%;
}
tr td {
    border: 1px solid green;
}
h4 {
    margin-left: 20px;
}
