{% extends 'base.html' %}

{% load rest_framework %}

{% block title %} Войти в ЛК {% endblock %}

{% block content %}

 <div class="container">
    <div class="card col-6 mx-auto text-center">
        <div class="card-header">Войти в личный кабинет:</div>
        <div class="card-body">
            <div class="my_card">
                <div class="loader mb-5">
                    <div id="spinner-box" class="text-center">
                        <div class="spinner-border text-primary" role="status"></div>
                    </div>
                    <div id="data-box" class="text-center non-visible">
                        {{ passcode }}
                    </div>
                </div>
                <form class="form-login" method="POST" action="{% url 'accounts:home' %}" >
                    {% csrf_token %}
                    <input type="hidden" name="phone" value="{{ phone }}">
                    <div class="input-group mb-3">
                        {% render_form serializer %}
                    </div>
                    <button id="code-btn" type="submit" class="btn btn-primary" value="Save">Подтвердить код</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(()=> {
        let spinnerBox = document.getElementById('spinner-box')
        let dataBox = document.getElementById('data-box')

        spinnerBox.classList.add('non-visible')
        dataBox.classList.remove('non-visible')
        }, 300
    )
</script>

{% endblock %}
